<%- include ("partials/header") -%>

<div class="text-center my-3">
  <a class="btn btn-success" href="<%= spotifyAuthorizeUrl %>" role="button">Log into Spotify</a>
</div>

<%- include ("partials/footer") -%>